<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodsple.features.exchange.mapper.ExchangePostMapper">

    <insert id="insertExchangePost" parameterType="map" useGeneratedKeys="true" keyProperty="post.exchangePostId">
        INSERT INTO exchange_post (
                                   user_id, third_cate_id, exchange_post_title, post_description,
                                   post_location_code, post_location_name, post_hope_region,
                                   post_trade_type, delivery_price_normal, delivery_price_half, half_delivery_type, location)
        VALUES (#{userId}, #{post.thirdCateId}, #{post.exchangePostTitle}, #{post.postDescription},
                #{post.postLocationCode}, #{post.postLocationName},
                #{post.postHopeRegion}, #{post.postTradeType}, #{post.deliveryPriceNormal},
                #{post.deliveryPriceHalf}, #{post.halfDeliveryType},
               -- 2. PostGIS 형식에 맞게 경도(lng), 위도(lat) 값을 추가합니다.
            ST_SetSRID(ST_MakePoint(#{post.longitude}, #{post.latitude}), 4326)
            )
    </insert>

    <insert id="insertExchangePostImage">
        INSERT INTO exchange_post_image (exchange_post_id, post_image_url, post_sort_order)
        VALUES (#{exchangePostId}, #{imageUrl}, #{sortOrder})
    </insert>

    <!-- 게시글 전체 정보 가져옴 -->
    <select id="findPostById" resultType="com.goodsple.features.exchange.dto.ExchangePostDto">
        SELECT
            exchange_post_id AS exchangePostId,
            third_cate_id AS thirdCateId,
            exchange_post_title AS exchangePostTitle,
            post_description AS postDescription,
            post_location_code AS postLocationCode,
            post_location_name AS postLocationName,
            post_hope_region AS postHopeRegion,
            post_trade_type AS postTradeType,
            delivery_price_normal AS deliveryPriceNormal,
            delivery_price_half AS deliveryPriceHalf,
            half_delivery_type AS halfDeliveryType
        FROM exchange_post
        WHERE exchange_post_id = #{postId}
    </select>

    <!-- 게시글 작성자 ID 조회 -->
    <select id="findUserIdByPostId" resultType="java.lang.Long">
        SELECT user_id
        FROM exchange_post
        WHERE exchange_post_id = #{postId}
    </select>


    <update id="updateExchangePost" parameterType="map">
        UPDATE exchange_post
        SET third_cate_id       = #{post.thirdCateId},
            exchange_post_title = #{post.exchangePostTitle},
            post_description    = #{post.postDescription},
            post_hope_region    = #{post.postHopeRegion},
            post_trade_type     = #{post.postTradeType},
            delivery_price_normal = #{post.deliveryPriceNormal},
            delivery_price_half = #{post.deliveryPriceHalf},
            exchange_post_updated_at = now()
        WHERE
            exchange_post_id = #{postId}
    </update>


    <delete id="deleteExchangePostImages">
        DELETE
        FROM exchange_post_image
        WHERE exchange_post_id = #{exchangePostId}
    </delete>

    <delete id="deleteExchangePost">
        DELETE
        FROM exchange_post
        WHERE exchange_post_id = #{exchangePostId}
    </delete>

    <select id="findImageUrlsByPostId" resultType="java.lang.String">
        SELECT post_image_url
        FROM exchange_post_image
        WHERE exchange_post_id = #{exchangePostId}
    </select>

</mapper>