<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodsple.features.map.mapper.MapMapper">

    <select id="findGoodsInBounds" resultType="com.goodsple.features.map.dto.response.MapGoodsResponse">
        SELECT
            p.exchange_post_id AS id,
            p.exchange_post_title AS name,
            p.post_trade_type AS tradeType,
            ST_Y(p.location::geometry) AS lat,
            ST_X(p.location::geometry) AS lng,
            (SELECT pi.post_image_url
             FROM exchange_post_image pi
             WHERE pi.exchange_post_id = p.exchange_post_id
             ORDER BY pi.post_sort_order
                LIMIT 1) AS imageUrl
        FROM
            exchange_post p
        WHERE
            ST_Intersects(
            p.location::geometry,
            ST_SetSRID(ST_MakeEnvelope(#{swLng}, #{swLat}, #{neLng}, #{neLat}), 4326)
            )
          AND p.location IS NOT NULL
    </select>

</mapper>