<mapper namespace="com.goodsple.features.community.mapper.CommunityMapper">

    <insert id="insertPost">
        INSERT INTO community(user_id, comm_room_id, content)
        VALUES (#{userId}, #{roomId}, #{content})
    </insert>

    <select id="selectRecent" resultType="com.goodsple.features.community.dto.Community">
        SELECT
        c.community_id    AS communityId,
        c.user_id         AS userId,
        c.comm_room_id    AS roomId,
        c.content         AS content,
        c.comm_created_at AS createdAt,
        u.user_name       AS userName,
        u.profile_image_url AS userProfile
        FROM community c
        JOIN users u ON u.user_id = c.user_id
        WHERE c.comm_room_id = #{roomId}
        <if test="before != null">
            AND c.comm_created_at &lt; #{before}
        </if>
        ORDER BY c.comm_created_at DESC
        LIMIT #{limit}
    </select>

    <select id="findUser" resultType="com.goodsple.features.community.dto.Community">
        SELECT
        user_id AS userId,
        user_name AS userName,
        profile_image_url AS userProfile
        FROM users
        WHERE user_id = #{userId}
    </select>

</mapper>
