<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodsple.features.community.mapper.CommunityMapper">

    <insert id="insertPost">
        INSERT INTO community(user_id, comm_room_id, type, content, comm_created_at)
        VALUES (#{userId}, #{roomId}, #{type},#{content}, #{createdAt})
    </insert>

    <select id="selectRecent" resultType="com.goodsple.features.community.dto.Community">
        SELECT
        c.community_id       AS communityId,
        c.user_id            AS userId,
        c.comm_room_id       AS commRoomId,
        c.type               AS type,
        c.content            AS content,
        c.comm_created_at    AS commCreatedAt,
        u.nickname           AS nickname,
        u.profile_image      AS userProfile
        FROM community c
        JOIN users u ON u.user_id = c.user_id
        WHERE c.comm_room_id = #{roomId}
        <if test="before != null">
            AND c.comm_created_at &lt; #{before}
        </if>
        ORDER BY c.comm_created_at ASC
        LIMIT #{limit}
    </select>

    <!-- 3) 특정 사용자 조회 -->
    <select id="findUser" resultType="com.goodsple.features.community.dto.Community">
        SELECT
            user_id       AS userId,
            nickname      AS nickname,
            profile_image AS userProfile
        FROM users
        WHERE user_id = #{userId}
    </select>

    <!-- 이번 달 MEGAPHONE 사용 횟수 조회 -->
    <select id="countMegaphoneThisMonth" resultType="int">
        SELECT COUNT(*)
        FROM community
        WHERE user_id = #{userId}
          AND type = 'MEGAPHONE'
          AND EXTRACT(YEAR FROM comm_created_at) = #{date.year}
          AND EXTRACT(MONTH FROM comm_created_at) = #{date.monthValue}
    </select>

    <!-- 최신 확성기 메시지 1개 조회 -->
    <select id="selectLatestMegaphone" resultType="com.goodsple.features.community.dto.Community">
        SELECT
            c.community_id       AS communityId,
            c.user_id            AS userId,
            c.comm_room_id       AS commRoomId,
            c.type               AS type,
            c.content            AS content,
            c.comm_created_at    AS commCreatedAt,
            u.nickname           AS nickname,
            u.profile_image      AS userProfile
        FROM community c
                 JOIN users u ON u.user_id = c.user_id
        WHERE c.type = 'MEGAPHONE'
        ORDER BY c.comm_created_at DESC
            LIMIT #{limit}
    </select>



</mapper>
