<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodsple.features.bookmark.mapper.BookmarkFolderMapper"> <!-- 수정됨⭐ -->

    <insert id="save">
        INSERT INTO bookmark_folder (folder_name, folder_color, user_id)
        VALUES (#{folderName}, #{folderColor}, #{userId})
    </insert>

    <select id="getLastInsertId" resultType="long">
        SELECT LASTVAL()
    </select>

    <update id="update">
        UPDATE bookmark_folder
        SET folder_name = #{folderName}, folder_color = #{folderColor}
        WHERE folder_id = #{folderId} AND user_id = #{userId}
    </update>

    <delete id="delete">
        DELETE FROM bookmark_folder
        WHERE folder_id = #{folderId} AND user_id = #{userId}
    </delete>

    <select id="findByUserId" parameterType="long" resultType="com.goodsple.features.bookmark.entity.BookmarkFolder">
        SELECT folder_id AS folderId,
               folder_name AS folderName,
               folder_color AS folderColor,
               user_id AS userId
        FROM bookmark_folder
        WHERE user_id = #{userId}
        ORDER BY folder_id DESC
    </select>

</mapper>
