<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.goodsple.features.notice.mapper.NoticeListMapper">
    <select id="selectNoticeList" resultType="com.goodsple.features.notice.dto.NoticeListDto">
        SELECT
        n.notice_id,
        n.notice_title,
        n.notice_created_at,
        n.notice_updated_at,
        u.name,
        n.is_popup,
        COALESCE(p.popup_start, NULL) AS popup_start,
        COALESCE(p.popup_end, NULL) AS popup_end,
        (SELECT COUNT(*) FROM notice_attachment a WHERE a.notice_id = n.notice_id) AS attachment_count
        FROM notice n
        LEFT JOIN notice_popup p ON n.notice_id = p.notice_id
        LEFT JOIN users u ON n.user_id = u.user_id
        <where>
            <if test="title != null and title != ''">
                AND n.notice_title ILIKE CONCAT('%', #{title}, '%')
            </if>
            <if test="isPopup != null">
                AND n.is_popup = #{isPopup}
            </if>
        </where>
        ORDER BY n.notice_created_at DESC
    </select>
</mapper>
